.sports-wrap {
    padding: 80px 0;
    background-color: #f4f4f4;

    .sports-list {
        margin-top: 20px;

        li {
            
            display: inline-block;
            border: .9px solid #e3e3e3;
            width: 20%;
            margin-right: 30px;
            border-radius: 2px;
            margin-bottom: 20px;
            background: #fff;

            a {
                text-decoration: none;

                span.name {
                    display: block;
                    padding: 15px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    color: #555;
                }

                .img-wrapper {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}