.sports-wrap {
    padding: 80px 0;
    background-color: #f4f4f4;

    .sports-list {
        margin-top: 20px;
        text-align: center;

        li {

            display: inline-block;
            border: .9px solid #e3e3e3;
            width: calc(25% - 30px);
            margin-right: 27px;
            border-radius: 2px;
            margin-bottom: 20px;
            background: #fff;

            @include respond-to(mobile) {
                width: 100%;
            }

            a {
                text-decoration: none;

                span.name {
                    display: block;
                    padding: 15px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    color: #555;
                }

                .img-wrapper {
                    height: 150px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                        display: block;
                    }
                }
            }

            &:hover {
                a {
                    .name {
                        color: $primary-color;
                    }
                }
            }
        }

        .btn-primary {
            display: inline-block;
            text-align: center;
            margin: auto;
            background: $primary-color;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            padding: 15px;
            font-weight: 700;
            border-radius: 2px;
            width: 200px;
            margin-top: 35px;
        }
    }
}