@import 'partials/reset';
@import 'partials/global';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/about-us';
@import 'partials/sports';
@import 'partials/contact-form';
@import 'partials/footer';


body {
    background-color: #fff;
}

.hero {
    background: url(/static/img/about.jpg);
    background-size: cover;
    height: 350px;
    background-attachment: fixed;
}

header {
    background: #fff;
    position: static;
    border-bottom: 1px solid #ddd;

    .menu-list li a {
        color: #131313;
    }

    .menu-list>li:hover>a {
        color: $primary-color;
    }
}

.about-us-wrap h1,
.about-us-wrap h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    color: #484848;
    text-align: left;
    font-weight: 700;
    font-size: 36px;
}

.about-wrap {
    .container {
        max-width: 75%;
    }
}

p {
    margin: auto;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    color: #484848;
    margin-bottom: 20px;

}

ol {
    list-style: decimal;
    margin-bottom: 20px;
    padding-left: 20px;
    overflow: hidden;

    li {
        font-weight: 700;
        padding: 5px 0;
        color: #515978;
        width: 50%;
        float: left;
        height: 40px;
        line-height: 20px;

    }
}

.mission-wrap {
    display: flex;
    justify-content: space-between;

    >div {
        background: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        text-align: center;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
        margin-right: 15px;
        font-size: 14px;
        border-radius: 4px;

        >h5 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }
    }
}