@import 'partials/reset';
@import 'partials/global';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/contact-form';

header {
    position: static;
    background: #b6b6b6;
    background-color: #858585;
}
.center-detail-wrap{
    background: #fff;
}

.bottom-form-wrap {
    @include flex();
    margin-top: 30px;

    .top-contact-details {
        width: 50%;
        padding: 20px;
        border-right: 1px solid #dfdfdf;
        background-image: url(https://gmas-custom-files.s3.amazonaws.com/whatshot/bg2.png);
        font-size: 14px;

        h1 {
            font-size: 24px;
            font-weight: 700;
            color: #000;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;

            b {
                font-weight: 600;
            }
        }
    }

    .left-form-wrap {
        width: 50%;
        padding: 20px;
        background-image: url(https://gmas-custom-files.s3.amazonaws.com/whatshot/bg2.png);
        border-radius: 2px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}

table {
    margin-top: 30px;
    width: 70%;

    thead {
        th {
            text-align: left;
            background: #ddd;
            padding: 10px;
            border: 1px solid #ddd;
        }
    }

    tbody {
        tr {
            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }
        }
    }
}