@import 'partials/reset';
@import 'partials/global';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/about-us';
@import 'partials/footer';
@import 'partials/sports';


.signup-wrap {
    padding: 90px 0;
    background: url(/static/img/pattern.png);
    color: #fff;

    .wrapper {
        @include flex();
        justify-content: space-between;
        align-items: center;

        .info {
            h2 {
                font-size: 28px;
                font-weight: 500;
            }
        }

        .button {
            button {
                background: #ffda00;
                border: 0;
                font-size: 18px;
                font-weight: 600;
                width: 180px;
                padding: 16px;
                border-radius: 3px;
                color: #545454;
            }
        }
    }
}

.brands {
  padding: 90px 0;
}