@import 'partials/reset';
@import 'partials/global';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/about-us';
@import 'partials/sports';


.signup-wrap {
    padding: 90px 0;
    background: url(/static/img/pattern.png);
    color: #fff;
}
