{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock css %}

{% block maincontent %}
	<section class="gallery-wrap">
		<div class="container">
			<div class="about-us-wrap">
				<h1 class="global-heading">About us</h1>
				<p>
					Ryder&#39;s Sports Academy- Where victories begin. A new age Sports Education and Training Academy,
					Ryders is set up with a passion to get today&#39;s kids to embrace sports and more importantly a healthier
					lifestyle. It is the place where strength finds its way from sore muscles and sweat gives way to success.
				</p>
				<p>
					At our multi-sport facility, we make it a mission to turn every player on our turf into a stronger athlete, a
					better teammate and a more confident person. What we believe is that is that champions are born
					when the spectators aren&#39;t watching. Thus we provide our athletes with support, training and a year-
					round practice facility for putting in the hard work and sweat so that it pays off when game day finally
					arrives. Rather than relying on a ‘one size fits all’ approach, our dedicated and hard working coaches
					focus on innovative drills and exercises to suit every trainee’s individual needs.
				</p>
				<p>
					 Ryder’s Sports Academy is a group of dedicated professional sports persons, highly qualified to cater to the needs and requirements of sports programmes and persons.
				</p>
				<p>
					At Ryder’s Sports Academy ( RSA ) we run various sporting programmes for all walks of life, some of our current undertakings are:
				</p>

				<ol>
					
					<li>Tennis coaching for children and adults. </li>
					<li> Horse Riding lessons </li>
					<li> Cricket Coaching  </li>
					<li> Basketball Coaching  </li>
					<li>Football Coaching </li>
					<li>Roller Skating </li>
					<li>Taekwondo Coaching </li>
					<li>Table Tennis Coaching </li>
					<li> Golf Coaching </li>
					<li>Free Tennis Programme for underprivileged children </li>
				</ol>
				<p>
					Presently we are running Eight sports centres in New Delhi & Gurgaon. We have more than 18,000 members registered with us so far and another 4000 odd non-members taking our services on and off

				</p>
			</div>
		</div>
	</section>
{% endblock maincontent %}
