{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/gallery.css">
{% endblock css %}

{% block maincontent %}
	<section class="gallery-wrap">
		<div class="hero-background">
			<h1>About us</h1>
		</div>
		<div class="container">
			<div class="about-us-wrap">
				<p>
					 Ryder’s Sports Academy is a group of dedicated professional sports persons, highly qualified to cater to the needs and requirements of sports programmes and persons.
				</p>
				<p>
					At Ryder’s Sports Academy ( RSA ) we run various sporting programmes for all walks of life, some of our current undertakings are:
				</p>
				<ol>
					<li>Free Tennis Programme for underprivileged children </li>
					<li>Tennis coaching for children and adults. </li>
					<li> Horse Riding lessons </li>
					<li> Cricket Coaching  </li>
					<li> Basketball Coaching  </li>
					<li>Football Coaching </li>
					<li>Roller Skating </li>
					<li>Taekwondo Coaching </li>
					<li>Table Tennis Coaching </li>
					<li> Golf Coaching </li>
				</ol>
				<p>
					Presently we are running Eight sports centres in New Delhi & Gurgaon. We have more than 18,000 members registered with us so far and another 4000 odd non-members taking our services on and off

				</p>
			</div>
		</div>
	</section>
{% endblock maincontent %}
