{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/about.css?v=2aasd1212">
    <style>
    	.info-wrap{
    		overflow:hidden;
    	}
    	.info-wrap .details{
    		width: 65%;
    		float: left;
    		text-align: justify;
    		padding-right: 10px;
    	}
    	.info-wrap .video-wrap{
    		width: 35%;
    		float: left;
    	}

    </style>
{% endblock css %}

{% block js %}
    <script  src="/static/bower_components/bLazy/blazy.js"></script>
    <script  src="/static/bower_components/tiny-slider/dist/tiny-slider.js"></script>
    <script  src="/static/bundle.js"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="about-wrap">
		<div class="hero">
			</div>
		<div class="container">
			
			<div class="about-us-wrap">
				<h1 class="global-heading">Ryder's Sports Academy- Where victories begin</h1>
				<div class="info-wrap">
					<div class="details">
						<p>
							A new age Sports Education and Training Academy,
							Ryders is set up with a passion to get today&#39;s kids to embrace sports and more importantly a healthier
							lifestyle. It is the place where strength finds its way from sore muscles and sweat gives way to success.
						</p>
						<p>
							 Ryder’s Sports Academy is a group of dedicated professional sports persons, highly qualified to cater to the needs and requirements of sports programmes and persons.
						</p>
						<p>
							Presently we are running Eight sports centres in New Delhi & Gurgaon. We have more than 18,000 members registered with us so far and another 4000 odd non-members taking our services on and off

						</p>
					</div>
					<div class="video-wrap">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/fD-gcPmMDBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
				
				<h2>What makes us different?</h2>
				<div class="mission-wrap">
					<div>
						<h5>Vast array of sports</h5>
						<p>We provide education and training in almost every major sport. From lawn tennis, table tennis,
						badminton and cricket to football, basketball, skating and horse riding - we have every sport sprawling
						across 7 centers in Gurgaon.</p>
					</div>
					<div>
						<h5>Our Mission</h5>
						<p>Provide educational and developmental programs instructed by an elite group of coaches who specialize
						in all aspects of lawn tennis, table tennis, badminton and many other sports, and speed and agility.</p>
					</div>
					<div>
						<h5>Personal Approach</h5>
						<p>All our instructors and coaches use a hands-on, customized technique that allows every player to
						improve weakness while simultaneously finding strengths. Leveraging their diverse backgrounds, we
						take pride in teaching the game the right way.</p>
					</div>
					</div>

				
				
			</div>
		</div>
	</section>
{% endblock maincontent %}
