{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/gallery.css?v=2aasd1212">
    <link rel="stylesheet" href="/static/bower_components/fancybox/dist/jquery.fancybox.css?v=1" />
    <style>
    .corporates-wrap{
        text-align: center;
    }
    .corporate-details li{
        width: 25%;
        float: left;
    }
    .corporate-details li .img-wrapper{
        overflow: hidden;
        height: 180px;
    }
    .corporate-details li .img-wrapper img{
        max-width: 100%
    }
    h1{
        margin-top: 30px;
        margin-bottom: 30px !important;
    }
    h1+p{
        max-width: 70%;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
        color: #515151;
        line-height: 24px;
    }
    h1+p+a{
        display: inline-block;
      margin: auto;
      background: #0953b4;
      color: #fff;
      text-decoration: none;
      padding: 15px 20px;
      border-radius: 50px;
      margin-bottom: 30px;
    }
    .corporate-details li .img-wrapper .fancybox-button{
        outline: none;
      width: 100%;
      background: transparent;
      padding: 0;
    }
    @media(max-width: 767px) {
        .corporate-details li{
            width: 100%;
        }
        .corporate-details li .img-wrapper{
            height: 220px;
        }
    }
    	
    	
    </style>
{% endblock css %}
{% block js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/fancybox/dist/jquery.fancybox.js"></script>

    <script src="/static/gallery_bundle.js?v=1"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="corporates-wrap">
		<h1 class="global-heading">Awards and  Recognition</h1>
        
		<div class="container">
			<div class="corporate-details">
                <ul class="photo-list">
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6482-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6482-min.jpg">
                            </a>
                            </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6228-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6228-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_8866-min.JPG" title="jyotisman" data-fancybox="images">
                            <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_8866-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0706-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0706-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6226-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6226-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4890-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4890-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6227-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6227-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_7450-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_7450-min.jpg">
                            </a><br></p>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_3965-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_3965-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6225_(1)-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6225_(1)-min.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6870-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6870-min.JPG">
                            </a>

                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4947-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4947-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6225-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_6225-min.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_2461-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_2461-min.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/fb7e6aeb-2d7f-4ba2-9d03-a9544077bb9b-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/fb7e6aeb-2d7f-4ba2-9d03-a9544077bb9b-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/fe86cad5-5cb2-40a1-a5ce-81a753996bdd-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/fe86cad5-5cb2-40a1-a5ce-81a753996bdd-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_1996-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_1996-min.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_1581-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_1581-min.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_2034-min.jpg" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_2034-min.jpg">
                            </a>
                            </div>
                    </li>

                </ul>
            </div>
		</div>
	</section>
{% endblock maincontent %}
