{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/apple-icon-57x57.png">
    <meta name="theme-color" content="#ffffff">
    {% block title %}
        <title>{{ meta_title }}</title>
    {% endblock title %}

    {% block metatitle %}
        <meta name="title" content="{{ meta_title }}">
    {% endblock metatitle %}

    {% block metadescription %}
        <meta name="description" content="{{ meta_description }}">
    {% endblock metadescription %}

    {% block opengrah %}
        <meta property="og:title" content="{{ meta_title }}">
        <meta property="og:description" content="{{ meta_description }}">
        <meta property="twitter:title" content="{{ meta_title }}">
        <meta property="twitter:description" content="{{ meta_description }}">
        <meta property="og:image" content="https://d1va2hfea4p5oe.cloudfront.net/{{ image }}">
        <meta property="og:url" content="{{ request.get_host }}{{ request.path }}" />
        <meta property="og:site_name" content="RydersSportsAcademy">
        <meta property="og:type" content="website">
    {% endblock opengrah %}

    <link rel="canonical" href="{{ request.get_host }}{{ request.path }}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="index, follow">

    {% block internal_css %}
    {% endblock internal_css %}

    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/fa-brands.css">
    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/fa-solid.css">

    {% block css %}
        
    {% endblock css %}


    


</head>
<body>
    
    {% block header %}
        <header>
        	<div class="logo-wrap">
        		<a href="" class="logo-link">
        			<img src="/static/img/logo.png" alt="">
        		</a>
        	</div>
        	<div class="nav-wrap">
        		<nav>
                    <ul class="menu-list">
                      <li><a href="">Home</a></li>
                      <li><a href="/about-us">About us</a></li>
                      <li><a href="/teams">Our team</a></li>
                      <li>
                        <a href="/sports">Trainings <i class="fas fa-angle-down"></i></a>
                        <ul class="menu-dropdown">
                            {% for sport in sports  %}
                                <li><a href="/sport/{{sport.id}}/{{sport.slug}}">{{ sport.name }}</a></li>
                            {% endfor %}
                        </ul>
                      </li>
                      <li>
                        <a href="/centers/">Centers <i class="fas fa-angle-down"></i></a>
                        <ul class="menu-dropdown">
                            {% for center in centers  %}
                                <li><a href="/center/{{ center.id }}/{{ center.slug }}">{{ center.academy_name }}</a></li>
                            {% endfor %}                            
                        </ul>
                        </li>
                      <li><a href="/gallery">Gallery</a></li>
                      <li><a href="/contact-us">Contact us</a></li>
                  </ul>      
                </nav>
        	</div>
        </header>
    {% endblock header %}
    
    {% block maincontent %}
        
    {% endblock maincontent %}
    
    {% block footer %}
        <footer>
            <div class="container">
                <h5>RydersSportsAcademy</h5>
                <div class="link-wrapper">
                    <ul class="sports-link-wrap">
                        <h5>Sports</h5>
                        {% for sport in sports  %}
                            <li><a href="/sport/{{sport.id}}">{{ sport.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="center-link-wrap">
                        <h5>Centers</h5>
                        {% for center in centers  %}
                            <li><a href="/center/{{ center.id }}/{{ center.slug }}">{{ center.academy_name }}</a></li>
                        {% endfor %}                            
                    </ul>
                    <ul class="social-link-list">
                        <h5>Connect with us</h5>
                        {% if company %}
                        <li>
                            <a target="_blank" href="{{ company.facebook_url}}"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a target="_blank" href="{{ company.google_plus_url}}"><i class="fab fa-google-plus-square"></i></a></li>
                            <li><a target="_blank" href="{{ company.linkedin_url}}"><i class="fab fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="{{ company.twitter_url}}"><i class="fab fa-twitter-square"></i></a></li>
                        {% endif %}
                    </ul>
                    <div class="logo-wrap">
                        <img src="/static/img/logo.png" alt="">
                    </div>
                </div>
                
            </div>

            <div class="bottom-fotter">
                <div class="container">
                    © 2019 RydersSportsAcademy
                </div>
            </div>
        </footer>
    {% endblock footer %}
    
    {% block js %}
        
    {% endblock js %}

    
</body>
</html>