{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/apple-icon-57x57.png">
    <meta name="theme-color" content="#ffffff">
    {% block title %}
        <title>{{ meta_title }}</title>
    {% endblock title %}

    {% block metatitle %}
        <meta name="title" content="{{ meta_title }}">
    {% endblock metatitle %}

    {% block metadescription %}
        <meta name="description" content="{{ meta_description }}">
    {% endblock metadescription %}

    {% block opengrah %}
        <meta property="og:title" content="{{ meta_title }}">
        <meta property="og:description" content="{{ meta_description }}">
        <meta property="twitter:title" content="{{ meta_title }}">
        <meta property="twitter:description" content="{{ meta_description }}">
        <meta property="og:image" content="https://d1va2hfea4p5oe.cloudfront.net/{{ image }}">
        <meta property="og:url" content="{{ request.get_host }}{{ request.path }}" />
        <meta property="og:site_name" content="RydersSportsAcademy">
        <meta property="og:type" content="website">
    {% endblock opengrah %}

    <link rel="canonical" href="{{ request.get_host }}{{ request.path }}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="index, follow">

    {% block internal_css %}
    {% endblock internal_css %}

    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/fa-brands.css">
    <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/fa-solid.css">

    {% block css %}
        
    {% endblock css %}


    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MXR3SNM');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXR3SNM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {% block header %}
        <header>
        	<div class="logo-wrap">
        		<a href="" class="logo-link">
        			<img class="b-lazy" data-src="/static/img/logo.png" alt="logo">
                    <!-- <img src="/static/img/biglogo.png" class="big-logo" alt="biglogo"> -->

        		</a>
        	</div>
            <div class="burger-menu-wrap" id="burger-menu-wrap">
                <i class="fas fa-bars"></i>
            </div>
        	<div class="nav-wrap">
        		<nav>
                    <ul class="menu-list">
                      <li><a href="">Home</a></li>
                      <li><a href="/about-us">About us</a></li>
                      <li><a href="/teams">Our team</a></li>
                      <li>
                        <a href="/sports">Trainings <i class="fas fa-angle-down"></i></a>
                        <ul class="menu-dropdown">
                            {% for sport in sports  %}
                                <li><a href="/sport/{{sport.id}}/{{sport.slug}}">{{ sport.name }}</a></li>
                            {% endfor %}
                        </ul>
                      </li>
                      <li>
                          <a href="/notifications">Notifications</a>
                      </li>
                      <li>
                        <a href="/centers/">Centers <i class="fas fa-angle-down"></i></a>
                        <ul class="menu-dropdown">
                            {% for center in centers  %}
                                <li><a href="/center/{{ center.id }}/{{ center.slug }}">{{ center.academy_name }}</a></li>
                            {% endfor %}                            
                        </ul>
                        </li>
                      <li><a href="/corporates">Corporates</a></li>
                      <li><a href="/gallery">Gallery</a></li>
                      <li><a href="/contact-us">Contact us</a></li>
                  </ul>      
                </nav>
        	</div>
        </header>
    {% endblock header %}
    
    {% block maincontent %}
        
    {% endblock maincontent %}
    
    {% block footer %}
        <footer>
            <div class="container">
                <p class="footer-head">
                    <span>Ryder's</span>
                    <span class="hidden-xs">Join us for free and get amazing discounts and vouchers from top fitness brands.</span>
                    <a href="/contact-us">Join Now</a>
                </p>
                <div class="black-wrap">
                    <p>Contact us 
                        {% if company %}
                            <span>
                                <a target="_blank" href="{{ company.facebook_url}}"><i class="fab fa-facebook-square"></i></a>
                            </span>
                            <span><a target="_blank" href="{{ company.instagram_url}}"><i class="fab fa-instagram"></i></a></span>
                            
                        {% endif %}
                    </p>
                    <h5 class="email"><a href="mailto: ryders.sports@gmail.com">ryders.sports@gmail.com</a></h5>
                    <h5>Centers in <span>Gurgaon</span></h5>
                    
                    <ul class="center-link-wrap">
                        
                        {% for center in centers  %}
                            <li><a href="/center/{{ center.id }}/{{ center.slug }}">{{ center.academy_name }} <span>#{{ center.mobile }}</span></a></li>
                        {% endfor %}                            
                    </ul>
                    <span class="bus-wrap">
                        <img class="b-lazy" data-src="/static/img/bus.png" alt="bus">
                        Transport Available
                    </span>
                </div>
            </div>

            <div class="bottom-fotter">
                <div class="container">
                    © 2019 RydersSportsAcademy
                </div>
            </div>
        </footer>
    {% endblock footer %}
    <script  src="/static/bower_components/bLazy/blazy.js"></script>
    
    {% block js %}
        
    {% endblock js %}
    <div class="overlay" id="overlay"></div>
    <script>
        
        document.addEventListener("DOMContentLoaded", function() {
          document.getElementById('burger-menu-wrap').addEventListener('click', function () {
            document.body.classList.add("openMenu");
          });
          document.getElementById('overlay').addEventListener('click', function () {
            document.body.classList.remove("openMenu");
          });
          
        });

    </script>

    
</body>
</html>