{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/center-details.css?v=2121">
{% endblock css %}

{% block js %}
    <script src="/static/contact_bundle.js?v=1"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="center-detail-wrap">
		<div class="container">
			<div class="top-map">
				<iframe width="100%" height="250" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6BuhugILHbrfHoUkHcVzhEGeRhhX2ErA&amp;q={{center.address}}+{{center.city}}"></iframe>
			</div>
			
			<div class="bottom-form-wrap">
				<div class="top-contact-details">
					
					<h1>{{ center.academy_name }}</h1>
					<p class="center-desc">
						{{ center.description }}
					</p>
					<address>
						<p><b>Address: </b> {{ center.address }}, {{ center.city }}, {{ center.zipcode }}, {{ center.state }}, {{ center.country }}</p>
					</address>
					<p>
						<b>Mobile:</b> {{ center.mobile }}
					</p>
					<p>
						<b>Email:</b> {{ center.email }}
					</p>
					<table>
						<thead>
							<tr>
								<th>Morning(Open)</th>
								<th>Morning(Close)</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>{{ center.morning_opening_timing}}</td>
								<td>{{ center.morning_closing_timing}}</td>
							</tr>
						</tbody>
					</table>

					<table>
						<thead>
							<tr>
								<th>Evening(Open)</th>
								<th>Evening(Close)</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>{{ center.evening_opening_timing}}</td>
								<td>{{ center.evening_closing_timing}}</td>
							</tr>
						</tbody>
					</table>

					
				</div>
				<div class="left-form-wrap">
					<h2>Reach us</h2>
					{% include "contact-form.html" %}
				</div>
			</div>
			<div class="ameneties-wrap">
				<h3>Our Amenities</h3>
				<ul>
					<li>
						<i class="fas fa-video"></i>
						<span>24/7 CCTV monitoring</span>
					</li>
					<li>
						<i class="fas fa-tint"></i>
						<span> Drinking Water</span>
					</li>
					<li>
						<i class="fas fa-shield-alt"></i>
						<span>24/7 Security</span>
					</li>
					<li>
						<i class="fas fa-bus-alt"></i>
						<span>Transport Facility</span>
					</li>
					<li>
						<i class="fas fa-toilet-paper"></i>
						<span>Hygenic Toilets </span>
					</li>
					<li>
						<i class="fas fa-walking"></i>
						<span>Walking Trail </span>
					</li>
				</ul>
			</div>
			<div class="footer-form-wrap">
				<h5>Explore our sports available in {{center.academy_name}}</h5>
				    <ul class="explore-centers-list">
				        {% for sport in center.sports  %}
				            <li>
				            	<div class="content">
				            		<a href="/sport/{{ sport.id }}/{{ sport.slug }}">
				            			<div class="img-wrapper">
				            				<img src="{{sport.image }}" alt="{{ sport.name }}">
				            			</div>
				            			<span class="name">
				            				{{ sport.name }}
				            			</span>
				            		</a>
				            	</div>
				            </li>
				        {% endfor %}
					</ul>
			</div>
		</div>
	</section>
{% endblock maincontent %}
