{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/gallery.css">
{% endblock css %}

{% block maincontent %}
	<section class="gallery-wrap">
		<div class="hero-background">
			<h1>Our Centres in Gurgaon</h1>
		</div>
		<div class="container">
			<div class="top-contact-details">
				
			</div>
			<div class="bottom-form-wrap">
				<div class="left-form-wrap">
					
				</div>
				<div class="right-map">
					
				</div>
			</div>
		</div>
	</section>
{% endblock maincontent %}
