{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/sport.css?v=2">
{% endblock css %}

{% block maincontent %}
	<section class="sports-wrap">
		<div class="hero-background">
			<h1>Our Centres in Gurgaon</h1>
		</div>
		<div class="container">
			<ul class="sports-list">

                {% for center in center_list  %}
    			<li>
    				<a href="/center/{{ center.id }}/{{ center.slug }}">
    					<div class="img-wrapper">
    						<img alt="{{ center.academy_name }}" class="b-lazy image b-loaded" src="{{ center.image }}">
    					</div>
    					<span class="name">
    						{{ center.academy_name }}
    					</span>
    				</a>
    			</li>
                {% endfor %}
    		</ul>
		</div>
	</section>
{% endblock maincontent %}
