<form class="contact-form" id="contact-form">
	<div class="form-group">
		<label>Name</label>
		<input type="text" id="name" class="form-control" placeholder="Name">
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="text" id="email" class="form-control" placeholder="Email">
	</div>
	<div class="form-group">
		<label>Phone </label>
		<input type="text" id="phone" class="form-control" placeholder="Phone">
	</div>
	<div class="form-group">
		<label>Select Sport</label>
		<select class="form-control" id="sport-selection">
			{% for sport in sports  %}
                <option value="{{ sport.name }}">{{ sport.name }}</option>
            {% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label>Comment</label>
		<textarea id="comment" class="form-control" id="" cols="30" rows="10"></textarea>
	</div>
	<div class="form-group">
		<button>Submit</button>
	</div>
</form>