{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/contact.css">
{% endblock css %}

{% block maincontent %}
	<section class="contact-wrap">
		<div class="hero-background">
			<h1>Contact us</h1>
		</div>
		<div class="container">
			<div class="contact-form-wrapper">
				<div class="contact-form">
					{% include "contact-form.html" %}
				</div>
				<div class="right-form-details">
					<h5>Reach us</h5>
					<ul>
						<li>Contact: </li>
						<li>Email: </li>
						<li>Address: </li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock maincontent %}
