{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/gallery.css?v=2aasd1212">
    <link rel="stylesheet" href="/static/bower_components/fancybox/dist/jquery.fancybox.css?v=1" />
    <style>
    .corporates-wrap{
        text-align: center;
    }
    .corporate-details li{
        width: 25%;
        float: left;
    }
    .corporate-details li .img-wrapper{
        overflow: hidden;
        height: 180px;
    }
    .corporate-details li .img-wrapper img{
        max-width: 100%
    }
    h1{
        margin-top: 30px;
        margin-bottom: 10px !important;
    }
    h1+p{
        max-width: 70%;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
        color: #515151;
        line-height: 24px;
    }
    h1+p+a{
        display: inline-block;
      margin: auto;
      background: #0953b4;
      color: #fff;
      text-decoration: none;
      padding: 15px 20px;
      border-radius: 50px;
      margin-bottom: 30px;
    }
    .corporate-details li .img-wrapper .fancybox-button{
        outline: none;
      width: 100%;
      background: transparent;
      padding: 0;
    }
    @media(max-width: 767px) {
        .corporate-details li{
            width: 100%;
        }
        .corporate-details li .img-wrapper{
            height: 220px;
        }
    }
    	
    	
    </style>
{% endblock css %}
{% block js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/fancybox/dist/jquery.fancybox.js"></script>

    <script src="/static/gallery_bundle.js?v=1"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="corporates-wrap">
		<h1 class="global-heading">CORPORATE EVENTS</h1>
        <p>
            Our programs for Corporate executives are designed not only to improve their skills and knowledge about the game but also to keep themselves fit and healthy. 
        </p>
        <a href="/contact-us">Contact us</a>
		<div class="container">
			<div class="corporate-details">
                <ul class="photo-list">
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0852-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0852-min.JPG">
                            </a>
                            </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0267-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0267-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0952-min.JPG" title="jyotisman" data-fancybox="images">
                            <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0952-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0163-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0163-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0144-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0144-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0135-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0135-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0899-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0899-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0130-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0130-min.JPG">
                            </a><br></p>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_3735-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_3735-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_3741-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_3741-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_2145-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_2145-min.JPG">
                            </a>

                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4947-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4947-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4951-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_4951-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0969-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0969-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_1020-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_1020-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0281-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0281-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0954-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/IMG_0954-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0278-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0278-min.JPG">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <a class="fancybox-button" href="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0262-min.JPG" title="jyotisman" data-fancybox="images">
                                <img src="https://dcpd9381epemc.cloudfront.net/standalone/18432/DSC_0262-min.JPG">
                            </a>
                            </div>
                    </li>

                </ul>
            </div>
		</div>
	</section>
{% endblock maincontent %}
