{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/gallery.css?v=2">
    <link rel="stylesheet" href="/static/bower_components/fancybox/dist/jquery.fancybox.css?v=1" />

{% endblock css %}

{% block js %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

	<script type="text/javascript" src="/static/bower_components/fancybox/dist/jquery.fancybox.js"></script>

    <script src="/static/gallery_bundle.js?v=1"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="gallery-wrap">
		<div class="hero-background">
			<h1>Our photo gallery</h1>
		</div>
		<div class="container">
			<ul class="photo-list">
				{% for gallery in galleries  %}
					<li>
						<div class="img-wrapper">
							<a class="fancybox-button" href="/media/{{ gallery.image }}" title="jyotisman" data-fancybox="images">
								<img src="/media/{{ gallery.image }}" alt="" />
							</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endblock maincontent %}
