{% extends "base.html" %}

{% block internal_css %}
    <style>
        body{
            background: url('/static/img/layer.png') !important;
            background-size: cover !important;
        }
        .hero-area .img-wrapper{
            height: 480px;
        }
        
        .slider-wrapper{
            position: relative;
        }
        
       
        .float-data{
              position: absolute;
              top: 25%;
              left: 0;
              right: 0;
              z-index: 11;
              margin-bottom: 0;
              width: 80%;
              margin: auto;
        }
        @media (max-width: 767px) {
            .hero-area .img-wrapper{
            height: 150px;
            }
        }
    </style>
{% endblock internal_css %}

{% block css %}
    <link rel="stylesheet" href="/static/css/home.css?v=2aasd1212">
    <link rel="stylesheet" href="/static/bower_components/tiny-slider/dist/tiny-slider.css"></link>
{% endblock css %}

{% block js %}
    <script  src="/static/bower_components/bLazy/blazy.js"></script>
    <script  src="/static/bower_components/tiny-slider/dist/tiny-slider.js"></script>
    <script  src="/static/bundle.js"></script>
    <script type="text/javascript">
        (function() {
            var slider = tns({
              container: '.my-slider',
              items: 1,
              slideBy: 1,
              arrowKeys: true,
              controls: true,
              nav: false,
              autoplay: true,
              autoplayButtonOutput: false,
              autoplayTimeout: 4000,
              controlsText: ['<i class="fas fa-angle-left"></i>', '<i class="fas fa-angle-right"></i>'],
              
            });
        })();
    </script>
    
{% endblock js %}

{% block maincontent %}
    <div class="hero-area">
        <div class="inner-container">
            <div class="slider-wrapper">
                <ul class="my-slider brand-list">
                    {% for brand in brands %}
                        <li>
                            <div class="content b-lazy">
                                <div class="img-wrapper" style="background: url(/media/{{ brand.image }}); background-size: cover;">
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>               
            </div>
            
            
        </div>
        <div class="container">
            <div class="coverage-wrap">
                <div class="inner-wrap">
                    <a href="/visitors">
                        <img data-src="/static/img/sania.png" alt="visitors">
                        <span>Our visitors</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/reviews">
                        <img data-src="/static/img/review_video.png" alt="Review">
                        <span>Parent Review</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/news">
                        <img data-src="/static/img/news.png" alt="Media">
                        <span>Media Coverage</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="training-camps-wrap">
        <div class="container">
            <div class="train-list">
                <div class="inner-wrap">
                    <a href="/sports">
                        <img class="b-lazy" data-src="/static/img/4001.jpeg" alt="Training camps">
                        <span>Training camps</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/teams">
                        <img class="b-lazy" data-src="/static/img/4004.jpeg" alt="Coaches">
                        <span>Coaches</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/corporates">
                        <img class="b-lazy" data-src="/static/img/4002.jpeg" alt="Corporate">
                        <span>Corporate Events</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/awards">
                        <img class="b-lazy" data-src="/static/img/4003.jpeg" alt="Competitions">
                        <span>Awards & Recognition</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage sports-wrap">
        <div class="container">
            <ul class="sports-list">
                {% for sport in sports|slice:":10"  %}
                <li>
                    <a href="/sport/{{ sport.id }}/{{ sport.slug }}">
                        <div class="img-wrapper">
                            <img alt="{{ sport.name }}" class="b-lazy" data-src="/media/{{ sport.image }}">
                        </div>
                        <span class="name">
                            {{ sport.name }}
                        </span>
                    </a>
                </li>
                {% if forloop.counter == 10 %}
                    
                        <a class="btn-primary" href="/sports">View More</a>
                    
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock maincontent %}