{% extends "base.html" %}

{% block internal_css %}
    <style>
        body{
            background: url('/static/img/layer.png') !important;
        }
    </style>
{% endblock internal_css %}

{% block css %}
    <link rel="stylesheet" href="/static/css/home.css?v=1">
    <link rel="stylesheet" href="/static/bower_components/tiny-slider/dist/tiny-slider.css"></link>
{% endblock css %}



{% block js %}
    <script src="/static/bower_components/bLazy/blazy.js"></script>
    <script src="/static/bower_components/tiny-slider/dist/tiny-slider.js"></script>
    <script src="/static/bundle.js"></script>
    <script type="text/javascript">
        (function() {
            
            var slider = tns({
              container: '.my-slider',
              items: 1,
              slideBy: 1,
              arrowKeys: true,
              controls: true,
              nav: false,
              autoplay: true,
              autoplayButtonOutput: false,
              autoplayTimeout: 3000,
              controlsText: ['<i class="fas fa-angle-left"></i>', '<i class="fas fa-angle-right"></i>'],
              
            });
        })();
    </script>
    
{% endblock js %}

{% block maincontent %}
    <div class="hero-area">
        <div class="container">
            <h1>Ryder's <span>Sports Academy</span>
                <img src="static/img/smalllogo.png" alt="small"></h1>
            <img src="/static/img/biglogo.png" class="big-logo" alt="biglogo">
            <div class="sport-city-selector">
                <form class="sport-city-form">
                    <div class="form-group">
                        <p class="selected-sport selected-data">Select your preferred sport
                        </p>
                        <ul class="custom-select">
                            {% for sport in sports  %}
                                <li sport="{{sport.id}}" slug="{{sport.slug}}">{{ sport.name }}</li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    <div class="form-group">
                        <p class="selected-center selected-data">Select your nearest center </p>
                        <ul class="custom-select">
                            {% for center in centers  %}
                                <li slug="{{center.slug}}" center={{center.id}}>{{ center.academy_name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <button type="button" class="submit-selection">Submit</button>
                    </div>
                </form>
            </div>
            <div class="slider-wrapper">
                <ul class="my-slider brand-list">
                    {% for brand in brands %}
                        <li>
                            <div class="content">
                                <div class="img-wrapper">
                                    <img  data-src="/media/{{ brand.image }}" alt="{{brand.name}}">
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>               
            </div>
            <div class="coverage-wrap">
                <div class="inner-wrap">
                    <a href="/visitors">
                        <img src="/static/img/sania.png" alt="">
                        <span>Our visitors</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/reviews">
                        <img src="/static/img/review_video.png" alt="">
                        <span>Parent Review</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/news">
                        <img src="/static/img/news.png" alt="">
                        <span>Media Coverage</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="training-camps-wrap">
        <div class="container">
            <div class="train-list">
                <div class="inner-wrap">
                    <a href="/sports">
                        <img src="/static/img/4001.jpeg" alt="">
                        <span>Training camps</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/teams">
                        <img src="/static/img/4004.jpeg" alt="">
                        <span>Coaches</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="/corporates">
                        <img src="/static/img/4002.jpeg" alt="">
                        <span>Corporate Events</span>
                    </a>
                </div>
                <div class="inner-wrap">
                    <a href="">
                        <img src="/static/img/4003.jpeg" alt="">
                        <span>Competetions</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="homepage sports-wrap">
        <div class="container">
            <ul class="sports-list">
                {% for sport in sports|slice:":10"  %}
                <li>
                    <a href="/sport/{{ sport.id }}/{{ sport.slug }}">
                        <div class="img-wrapper">
                            <img alt="{{ sport.name }}" class="b-lazy" data-src="/media/{{ sport.image }}">
                        </div>
                        <span class="name">
                            {{ sport.name }}
                        </span>
                    </a>
                </li>
                {% if forloop.counter == 10 %}
                    
                        <a class="btn-primary" href="/sports">View More</a>
                    
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock maincontent %}