{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/center-details.css?v=2121">
    <style>
    	h1{
    		font-size: 26px;
    		text-align: center;
    		font-weight: 700;
    		margin: 30px 0 ;
    	}
    	.notification-wrap{
    		height: 70vh;
    	}
    	.notification-list{
		  max-width: 70%;
		  margin: auto;
		  list-style: decimal;
    	}
    	
    	.notification-list li a{
		  display: block;
		  text-decoration: none;
		  color: #555;
		  border: 1px solid #ddd;
		  padding: 16px;
		  border-bottom: 0;
		  font-weight: 500;
		  font-size: 15px;

    	}
    	.notification-list li:last-child a{
			border-bottom: 1px solid #ddd;
    	}
    	.notification-list li:hover>a{
    		color: #006eff;
		
    	}
    	.notification-list li a span{
    		  float: right;
		    font-size: 12px;
		    font-weight: 600;
		    background: #0050b7;
		    color: #fff;
		    padding: 5px 10px;
		    border-radius: 2px;
		  }
    	}
    	.notification-list li a strong{
    		  display: block;
			  font-weight: 400;
			  margin-top: 10px;
    	}
    	

    </style>
{% endblock css %}

{% block js %}
    <script  src="/static/bower_components/bLazy/blazy.js"></script>
    <script  src="/static/bower_components/tiny-slider/dist/tiny-slider.js"></script>
    <script  src="/static/bundle.js"></script>
    
{% endblock js %}

{% block maincontent %}
	<div class="notification-wrap">
		<div class="container">
			<h1>Notifications</h1>
			{% if notifications %}
			<ol class="notification-list">
				{% for notification in notifications  %}
				<li>
					<a href="/notification/{{ notification.id }}/{{ notification.slug }}">
						{{ notification.title }} 
						
						<strong>{{ notification.short_description }} <span>Read More</span></strong></a>
						
				</li>
				{% endfor %}  
			</ol>
			{% else %}
				<p>No notifications available currently!</p>
			{% endif %}
			
		</div>
	</div>
    
{% endblock maincontent %}