{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/gallery.css?v=2121">
    <link rel="stylesheet" href="/static/bower_components/fancybox/dist/jquery.fancybox.css?v=2121" />
    <link rel="stylesheet" href="/static/css/center-details.css?v=2121">
    <style>
        .global-heading{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .reviews-list-wrap{
            overflow: hidden;
        }
        .reviews-list-wrap .reviews{
            width: 50%;
            float: left;
            padding: 15px;
        }	
        .reviews img {
          max-width: 100%;
        }

        .reviews a {
          width: 100%;
          display: block;
          height: 315px;
          background: #ddd;
          border-radius: 2px;
        }
    
    </style>
{% endblock css %}
{% block js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/fancybox/dist/jquery.fancybox.js"></script>

    <script src="/static/gallery_bundle.js?v=1"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="reviews-wrap">
	   <div class="container">
        <h1 class="global-heading">Reviews</h1>
               <div class="reviews-list-wrap">
                {% for review in reviews  %}
                    {% if review.content %}
                        <div class="reviews">
                           {{ review.content | safe }}
                        </div>
                    {% endif %}
                    {% if review.image %}
                        <div class="reviews">
                           <a class="fancybox-button" href="/media/{{ review.image }}" title="jyotisman" data-fancybox="images">
                            <img src="/media/{{ review.image }}" alt="" />
                           </a>
                        </div>
                    {% endif %}

                {% endfor %} 
                
                  
               </div>   
       </div>
	</section>
{% endblock maincontent %}
