{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/sport-details.css">
{% endblock css %}

{% block js %}
    <script src="/static/contact_bundle.js"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="sport-detail-wrap">
		<div class="hero" style="background: url({{ sport.image2 }}) no-repeat center center fixed;  background-size: cover;">
			<div class="fixed-form-wrap">
				<label class="form-label">Fill this form and get best deals on {{ sport.name }}</label>
				<p class="success-msgz" id="success-msgz">Thanks for submitting your details!</p>
				{% include "contact-form.html" %}
			</div>
		</div>
		<div class="container">
			<h1>Find Best {{ sport.name }} in Gurgaon</h1>
			<div class="left-wrap">
				{{ sport.content |safe }} 
			</div>
			<div class="right-wrap">
				<ul class="highlight-points">
					<li><i class="fas fa-user-tie"></i></i> 
						<span>
							<b>Highly trained</b> professional sports coaches.
						</span>
						
					</li>
					<li><i class="fas fa-users"></i>
						<span>
							<b>18,000+</b> registered members.
						</span> 
					</li>
					<li><i class="fas fa-map-marked-alt"></i>
						<span>
							<b>8 running centers</b> in New Delhi and Gurgaon.
						</span> 
					</li>
				</ul>
				<div class="star-rating-wrap">
					<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
						<span>268 reviews</span>
					</div>
					<div class="lock">
						<i class="fas fa-football-ball"></i>
					</div>
				</div>
			</div>
			<div class="bottom-wrap">
				<h5>Our Center's that provide {{ sport.name }} </h5>
				    <ul class="explore-centers-list">
				        {% for center in sport.centers  %}
				            <li>
				            	<div class="content">
				            		<a href="/center/{{ center.id }}/{{ center.slug }}">
				            			<div class="img-wrapper">
				            				<img src="{{center.image }}" alt="{{ center.academy_name }}">
				            			</div>
				            			<span class="name">
				            				{{ center.academy_name }}
				            			</span>
				            		</a>
				            	</div>
				            </li>
				        {% endfor %}
					</ul>
			</div>
		</div>
	</section>
	
{% endblock maincontent %}
