{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/center-details.css?v=3">
    <style>
    	
    	.hero {
    	    background: url('/static/img/corporate.jpeg') no-repeat center center;
		  background-size: cover;
		  background-position-y: 50%;
    	    height: 350px;
    	}
    	h1{
    		margin-top: 30px;

    	}
    </style>
{% endblock css %}
{% block js %}
    <script src="/static/contact_bundle.js?v=1"></script>
    
{% endblock js %}

{% block maincontent %}
	<section class="corporates-wrap">
			
	</section>
{% endblock maincontent %}
